/lecture5/.parcel-cache
/lecture5/dist
/lecture5/node_modules
/lecture6/.parcel-cache
/lecture6/dist
/lecture6/node_modules
/lecture4/.parcel-cache
/lecture4/dist
/lecture4/node_modules
/lecture3/.parcel-cache
/lecture3/dist
/lecture3/node_modules
/lecture2/.parcel-cache
/lecture2/dist
/lecture2/node_modules
/lecture9- Optimzing Our App/node_modules
/lecture9- Optimzing Our App/dist
/lecture9- Optimzing Our App/.parcel-cache
/lecture10- Jo Dikhta he vo bikta he/.parcel-cache
/lecture10- Jo Dikhta he vo bikta he/dist
/lecture10- Jo Dikhta he vo bikta he/node_modules